@font-face {
    font-family: "MochiyPopOne";
    src: url("../fonts/MochiyPopOne-Regular.ttf");
  }

*{
    box-sizing: border-box;
    margin: 0;
}

#ConsoleSect{
    background: #ffff;
    height: 100%;
    padding: 20px;
    width: 300px;
}

#ConsoleSect h4{
    margin: 20px 0;
}

#ConsoleSect #Results{
    display: flex;
    justify-content: center;
} 

#PlaySect{
    align-items:stretch;
    background: #ffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
    width: 300px;
}

#PlaySect button{
    height: 30px;
    /* width: 100px; */
}

#PlaySect h4{
    text-align: center;
}

#ScoresSect{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    width: 300px;
}

.DocSect{

    margin: 50px 0 0;
}

.DocSection ,#PlaySect,#ConsoleSect,#ScoresSect{
    background: #795548;
    border: 6px solid black;
}

.DocSect.Header{
    background: #8bc34a;
    color: black;
    box-shadow: 5px 5px 1px black;
    padding: 20px 10px 20px;
    width: fit-content;    
}

.MainSect{
    display: flex;
    flex-direction: row;
    height: 250px;
    justify-content: space-between;
}

.ScoreItem{
    display: flex;
    flex-direction: Row;
}

.ScoreItem .Section{
    display: flex;
    flex-direction: row;
}

.ScoreItem h1{
    text-align: center;
}

.ScoreItem .Section h2,p{
    flex-grow: 3;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
}

body{
    background: #4caf50;
    font-family: "MochiyPopOne";
    margin: 100px 150px 0;
}

button{
    background: #8bc34a;
    border: 2px solid black;
    font-family: 'MochiyPopOne';
    font-weight: 100;
    height: 35px;
}

h3{
    text-decoration: underline;
}